:root{
    --clr-primario-oscuro: #522073;
    --clr-primario: #7021BF;
    --clr-primario-claro: #8416F2;
    --clr-secundario: #AFA3BF;
    --clr-secundario-oscuro:#696273;
    --clr-white: #F2F2F2;
    --clr-black: #262626;
}

/* Eliminamos el margen y el padding predeterminado */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: var(--clr-black);
    color: var(--clr-white);
}

.navbar {
    background-color: var(--clr-primario-oscuro);
    height: 80px;
    box-shadow: rgba(190, 28, 253, 0.1) 0px 13px 27px -5px, rgba(203, 40, 253, 0.06) 0px 8px 16px -8px;;
}
.btn-volver {
    font-weight: bold;
    width: 150px;
    color: var(--clr-white);
    background-color: var(--clr-primario-oscuro);
    border-color: var(--clr-white);
}

.btn-volver:hover {
    color: var(--clr-primario-oscuro);
    background-color: var(--clr-white);
    border-color: var(--clr-primario-oscuro);
}

.btn-contacto {
    font-weight: bold;
    width: 150px;
    color: var(--clr-primario-oscuro);
    background-color: var(--clr-white);
    border-color: var(--clr-secundario);
}

.btn-contacto:hover {
    color: var(--clr-white);
    background-color: var(--clr-secundario);
    border-color: var(--clr-secundario);
}
main {

    padding: 20px;
    text-align: center;
}

h1{
    color: var(--clr-white);
    font-weight: bold;
}

.ejercicio{
    text-decoration: underline;
    font-weight: normal;
    text-align: left;
}

.exercise-buttons .btn {
    width: 100%;
    background-color: var(--clr-primario);
    border-color: var(--clr-primario-claro) ;
}

.exercise-buttons .btn:hover {
    background-color: var(--clr-primario-oscuro);
    border-color: var(--clr-primario-claro);
}

footer {
    background-color: var(--clr-secundario-oscuro);
    color: white;
    width: 100%;
    border-top: 1px solid var(--clr-primario);
}

footer h2{
    color: #8416F2;
    font-size: 1.5em;
}

footer p{
    font-weight: 100;
}